:root {
    --window-tint: linear-gradient(90deg, rgb(73, 130, 82) 0%, rgba(81, 186, 93, 0.81) 11%, rgba(44, 221, 91, 0.157) 41%, rgba(37, 227, 62, 0.135) 51%, rgba(65, 255, 84, 0.729) 85%, rgba(0, 255, 64, 0) 100%);
    --btn-hover: #ff0062;
    --space-black: #09021a;
    --white: #fff4fc;

}