* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Space Mono';
  font-weight: bold;
  font-style: normal;
}

body img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes pizzaSpin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.headings {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

h2 {
  z-index: 10;
  font-size: 1rem;
  transform: translateY(-46px);
  animation: textAnimation 3s ease-in-out infinite;
  position: absolute;
}

h1 {
  font-weight: 800;
  font-size: 15rem;
  animation: textAnimation 10s ease-in-out infinite;
  opacity: 20%;
  text-align: center;
}

@keyframes textAnimation {
  0% {
    color: #00a2ff;
  }
  50% {
    color: #ff0062;
  }
  100% {
    color: #00a2ff;
  }
}

p {
  position: fixed;
  top: 20%;
  z-index: 2;
  font-size: 1rem;
  text-align: center;
  color: var(--btn-hover);
}

p.fade {
  animation: pAnimation 1s ease-in 3;
}

@keyframes pAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.rain-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;
  position: absolute;
}

div.base,
div.topping {
  z-index: 4;
  width: 100px;
  height: 100px;
  transform: translateY(-500px);
  position: absolute;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateY(-520px);
  }

  100% {
    transform: translateY(calc(100vh + 520px));
  }
}

div.base img,
div.topping img {
  width: 100%;
  height: 100%;
  animation: pizzaSpin 5s linear infinite;
}

.btn-wrapper {
  z-index: 8;
  padding: 10px;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  position: fixed;
  display: flex;
  bottom: 40px;
}

button {
  padding: 5px;
  border: none;
  background-color: var(--background);
  width: 100px;
  height: 100px;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 15px;
}

button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button:hover {
  background-color: var(--btn-hover);
}

.remove {
  display: none;
}

@media screen and (min-width: 480px) {
  * {
    cursor: none;
  }

  .pizza {
    z-index: 9;
    pointer-events: none;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
    position: absolute;
    pointer-events: none;
  }

  .pizza img {
    width: 100%;
    height: 100%;
    animation: pizzaSpin 3s linear infinite;
  }

  h1 {
    font-size: 35rem;
  }

  h2 {
    font-size: 1.5rem;
    transform: translateY(-55px);
  }

  p {
    font-size: 2rem;
  }

  .btn-wrapper {
    bottom: 20px;
  }
}
